<app-header></app-header>
<div class="px-3 mt-2 ">
    <h1 class="">Form Event </h1>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"> Add Video</div>
                    <div class="card-body">
                        <button #addBtn class="btn btn-primary"> Add </button>
                        <!-- <button class="btn btn-secondary m-2" (click)="cRxJsComponent_Delete()"> Delete </button> -->
                        <!-- <ul id="containerId">
        
                        </ul> -->
                    </div>
                </div>
            </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"> List </div>
                <div class="card-body">
                    <!-- <button class="btn btn-primary"> Add </button> -->
                    <ul id="containerId">
                        <!-- <li>Video 1</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
 