<div class="row mt-4">
    <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
      <input type="text"
             placeholder="Datepicker"
             class="form-control"
             bsDatepicker
             [bsConfig]="{ isAnimated: true, dateInputFormat:'YYYY-MM-DD' }"
             [(ngModel)]="sDatePickerValue"
             [ngModelOptions]="{standalone: true}"
             (ngModelChange)="cDatePickerComponent_SelectedDate($event)">
    </div>
    <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
      <input type="text"
             placeholder="Daterangepicker"
             class="form-control"
             bsDaterangepicker
             [bsConfig]="{ isAnimated: true }">
    </div>
  </div>